body {
    background: linear-gradient(to bottom, rgba(255, 0, 0, 0.1) 0%, rgba(255, 255, 0, 0.1) 33.33%, rgba(0, 0, 255, 0.1) 66.67%, rgba(75, 0, 130, 0.1) 100%);
}
.page-title {
    font-family: Helvetica, Futura;
    font-weight: bold;
    font-size: 40px;
    color: black;
    text-align: center;
    margin-top: 0em;
}
.page-content {
    font-family: Helvetica, Futura;
    font-size: 16px;
    color: darkred;
    text-align: center;
    margin-top: 1em;
}
.header-title {
    font-family: Helvetica, Futura;
    font-weight: bold;
    font-size: 14px;
    background-color: black;
    color: white;
    padding: 0.5em;
    border-radius: 5px;
    text-align: center;
    margin-top: 1em;
}
.header-content {
    font-family: Helvetica, Futura;
    font-size: 14px;
    color: black;
    text-align: center;
    margin-top: 1em;
}
.center-image {
    display: block;
    margin: 0 auto;
}
.image-margin {
    margin-top: 1em; 
    margin-bottom: 1em;
}
